.description-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../Img/groundTwo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #212529;


}
.description-cont h1{
    font-size: 50px;
    letter-spacing: 5px;
}
.description-cont p{
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
    font-size: 20px;

}
.btns-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 25px;

}
#description{
    flex-direction: row-reverse;
}
.btn {
    margin-top: 25px;
    --hover-shadows: 16px 16px 33px #121212, -16px -16px 33px #303030;
    --accent: #21252a;
    font-weight: bold;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 1.1em;
    background-color: #212121;
    cursor: pointer;
    color: white;
    padding: 1em 2em;
    transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.1s,
      letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
    box-shadow: 13px 13px 10px #1c1c1c, -13px -13px 10px #262626;
  }
  
.btn:hover {
    box-shadow: var(--hover-shadows);
}
  
.btn:active {
    box-shadow: var(--hover-shadows), var(--accent) 0px 0px 30px 5px;
    background-color: var(--accent);
    transform: scale(0.95);
}
@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  #slide-in {
    animation: slideIn 0.5s ease-out;
  }
  @media (max-width: 302px) {
    #description{
      height: fit-content;
    }

    .description-cont h1{
      text-align: center;
    }
    .btns-cont{
      width: 200px;
      flex-direction: column;
      align-items: center;
    }
    .btn{
      width: 250px;
      margin-bottom: 25px;
    }
  }
@media (min-width: 303px) and (max-width: 400px){
  .description-cont h1{
    text-align: center;
  }
  .btns-cont{
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
}
@media (min-width: 650px){
  .btns-cont{
    padding: 50px;
  }
}
  